<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Welcome <%= user?.email %></h3>
    
    <button id="signoutButton">Sign out</button>

    <script>
        document.getElementById('signoutButton').addEventListener('click', function() {
            window.location.href = '/signout';
        });
    </script>
</body>
</html>